<div class="flex flex-col gap-4">
  <h1 class="font-bold text-4xl">Bienvenue <%= @kg_player.name %>!</h1>

  <% if @kg_game.state == "setup" %>
    <p class="text-base">Le jeu va bientôt commencer!</p>
  <% elsif @kg_game.state == "in_progress" %>
    <p class="text-base">La partie est en cours!</p>
  <% else %>
    <%= link_to end_game_screen_kg_game_path(@kg_game), class:"flex flex-row items-center gap-2 bg-[#099F55] p-4 drop-shadow-xl" do %>
      <p class="text-base text-white">Le jeu est terminé! Aller à l'écran de fin de partie</p>
    <% end %>
  <% end %>

  <% if @kg_player.state == "alive" %>
    <% if @kg_game.state == "in_progress" %>
      <p class="text-base">Votre cible est: <%= KgPlayer.find(@kg_player.target).name %></p>
      <p class="text-base">Nom de la carte: <%= @kg_player.kill_mean&.name %></p>
      <p class="text-base">Zone d'action: <%= @kg_player.kill_mean&.action_zone %></p>
      <p class="text-base">Votre arme: <%= @kg_player.kill_mean&.weapon %></p>
      <p class="text-base">Ojectif: <%= @kg_player.kill_mean&.objective %></p>
      <p class="text-base"><em><%= @kg_player.kill_mean&.flavor_test %></em></p>
    <% end %>
  <% else %>
    <p class="text-base">Vous êtes mort!</p>
  <% end %>

  <% if @kg_player.state == "alive" %>
    <% if @kg_game.state == "in_progress" %>
      <%= link_to "J'ai eu ma cible!",
        kill_target_kg_game_kg_player_path(@kg_game, @kg_player),
        data: { turbo_method: :post, turbo_confirm: "!! Etes-vous certain d'avoir bien tué votre cible? (Cette action est définitive!) !!" },
        class:"flex flex-row text-base text-white items-center gap-2 bg-[#099F55] p-4 drop-shadow-xl"
      %>
    <% end %>
  <% end %>
</div>
